@use "@styles/mixins";

.mainLayout__wrapper {
  margin: 0 auto;
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  @include mixins.mainLayout;
}
